.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**
.gitignore
.yarnrc
webpack.config.js
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts

search-ui/node_modules/**
search-ui/index.html
search-ui/package.json
search-ui/tsconfig.json
search-ui/yarn.lock
search-ui/vite.config.ts
search-ui/.gitignore
search-ui/src/**
search-ui/build/index.html

goal-view-ui/node_modules/**
goal-view-ui/index.html
goal-view-ui/package.json
goal-view-ui/tsconfig.json
goal-view-ui/yarn.lock
goal-view-ui/vite.config.ts
goal-view-ui/.gitignore
goal-view-ui/src/**
goal-view-ui/build/index.html

