.ResultHeader {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.ResultBlock {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-evenly;
}
