.vscode/**
out/client/test/**
client/test/**
client/src/**
client/server/installServerIntoExtension.cmd
client/server/installServerIntoExtension
client/**/*.map
.gitignore
client/tsconfig.json
server/**
html_views/**
out/**/*.js.map
out/server/test/**