.Block {
    width: 100%;
}

.SeparatorZone {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.GoalIndex {
    color: var(--vscode-coq-goalId);
    margin-right: 6px;
    text-wrap: nowrap;
    font-size: x-small;
}

.Header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.Panel {
    width: 100%; 
    transition: height 500ms;
    margin-bottom: 18px;
}

.Panel.Closed {
    height: 0; 
    display: none;
}

.Rotated {
    transform: rotate(180deg);
}

.Demphasize {
    color: var(--vscode-list-deemphasizedForeground);
}


