.Error {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.ErrorMessage {
    font-style: italic;
    color: var(--vscode-coq-proofviewError);
}

.ErrorHeader {
    font-style: italic;
    font-weight: bold;
    color: var(--vscode-coq-proofviewError);
}