.ResultName {
    font-family: var(--vscode-editor-font-family);
    font-weight: bold;
    width: 90%;
    color: var(--vscode-coq-tacticKeyword);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}