.Page {
    height: 100%;
    width: 100%;
    display: block;
    margin: 0;
}

.PageHeader {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 6px;
}

.Dropdown {
    margin-left: 3px;
}

.Button {
    margin-left: 6px;
}

.SmallButton {
    font-size: 6px;
    margin-left: 6px;
}

.Panel {
    margin-top: 6px;
    width: 100%;
    min-height: 100%;
    height: min-content;
    overflow: hidden;
}

.Hidden {
    display: none;
}