.Block {
    width: 100%;
}

.Header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.Panel {
    width: 100%; 
    transition: height 500ms;
    margin-bottom: 18px;
}

.Panel.Closed {
    height: 0; 
    display: none;
}

.Rotated {
    transform: rotate(180deg);
}

.Demphasize {
    color: var(--vscode-list-deemphasizedForeground);
}
