.EmptyStateSection {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


.EmptyStateMessage {
    font-family: var(--vscode-editor-font-family);
    margin-left: 6px;
}