.EmptyStateSection {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    align-content: center;
}


.EmptyStateMessage {
    font-family: var(--vscode-editor-font-family);
    margin-left: 6px;
}