.Hypothesis {
    list-style: none;
    font-family: var(--vscode-editor-font-family);
    font-weight: var(--vscode-editor-font-weight);
    font-size: var(--vscode-editor-font-size);
    white-space: pre;
}

.Identifier {
    color: var(--vscode-coq-hypothesisIdent);
}

.Separator {
    color: var(--vscode-coq-hypothesisSeparator);
    margin-right: 1ex;
    margin-left: 3pt;
}

.Type {
    color: var(--vscode-editor-foreground);
}
