.Message {
    margin-top: 12px;
    width: 100%;
    font-family: var(--vscode-editor-font-family);
}

.Error {
    color: var(--vscode-coq-errorMessage);
}

.Warning {
    color: var(--vscode-coq-warningMessage);
}

.Info {
    color: var(--vscode-editorInfo-background);
}

.Hint {
    color: var(--vscode-editorInlayHint-background);
}

.Goal {
    font-family: var(--vscode-editor-font-family);
    color: var(--vscode-editor-foreground);
    white-space: pre-wrap;
    width: 100%;
    margin-top: 6px;
}
  
.Hypothesis {
    list-style: none;
    font-family: var(--vscode-editor-font-family);
    font-weight: var(--vscode-editor-font-weight);
    font-size: var(--vscode-editor-font-size);
    display: flex;
}

.IdentifierBlock {
    width: max-content;
    display: flex;
}

.Identifier {
    color: var(--vscode-coq-hypothesisIdent);
}

.Separator {
    color: var(--vscode-coq-hypothesisSeparator);
    margin-right: 1ex;
    margin-left: 3pt;
}

.Content {
    color: var(--vscode-editor-foreground);
}

.constr-notation {
  color: var(--vscode-coq-termNotation);
}
.constr-keyword {
  color: var(--vscode-coq-termKeyword);
}
.constr-evar {
  color: var(--vscode-coq-termEvar);
  font-style: italic;
}
.constr-path {
  color: var(--vscode-coq-termPath);
}
.constr-reference {
  color: var(--vscode-coq-termReference);
}
.constr-type {
  color: var(--vscode-coq-termType);
}
.constr-variable {
  color: var(--vscode-coq-termVariable);
}
.message-debug {
  color: var(--vscode-coq-debugMessage);
}
.message-error {
  color: var(--vscode-coq-errorMessage);
  text-decoration: underline;
}
.message-warning {
  color: var(--vscode-coq-warningMessage);
}
.module-keyword {
  color: var(--vscode-coq-moduleKeyword);
}
.tactic-keyword {
  color: var(--vscode-coq-tacticKeyword);
}
.tactic-primitive {
  color: var(--vscode-coq-tacticPrimitive);
}
.tactic-string {
  color: var(--vscode-coq-tacticString);
}

.diff-added {
  background-color: var(--vscode-coq-addedCharacter);
  text-decoration: underline;
}

.diff-added-bg {
  background-color: var(--vscode-coq-addedCharacterBackground);
}

.diff-removed {
  background-color: var(--vscode-coq-removedCharacter);
  text-decoration: line-through;
}

.diff-removed-bg {
  background-color: var(--vscode-coq-removedCharacterBackground);
}