.Page {
    height: 100%;
    width: 100%;
}

.ButtonContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: fit-content;
    text-align: right;
    margin-bottom: 12px;
}

.HelpMessage {
    font-style: italic;
    opacity: 0.4;
    font-size: 12px;
}

.Panel {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: auto;
}


.View {
    width: 100%;
}